.active{
    text-decoration: none;
    background-color: rgb(49, 49, 77);
    color: white;
    margin-bottom: 10px;
}

.navLink{
    padding: 5px;
    font-weight: bolder;
    font-size: 15px;
    text-decoration: none;
    color:rgb(165, 165, 165);
    margin-bottom: 10px;
}