#side_wrapper{
    width: 220px;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    padding: 25px 15px;
}

#links{
     display: flex;
     flex-direction: column;
     width: 100%;
}